/* You can add global styles to this file, and also import other style files */
body {
    background: url("/b.jpg");
    background-size: cover;
}

.w-80 {
    width: 80% !important;
}

.h-5 {
    height: 5% !important;
}

.h-30 {
    height: 30% !important;
}

.h-70 {
    height: 70% !important;
}

.h-95 {
    height: 95% !important;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
